In [11]:
import sys

In [12]:
sys.path.append('../')

In [13]:
from traffic_model.simulation.model import *
from mesa.batchrunner import BatchRunner

In [14]:
# max_steps = 1
# start_steps = [252000, 468000, 576000]
# dfs = []
# index = 0
# make_df = {
#     'start_steps': [],
#     'light_11': [],
#     'light_12': [],
#     'light_01': [],
#     'light_03': [],
#     'light_41': [],
#     'light_04': [],
#     'light_05': []
# }
# for start_step in start_steps:
#     for light_timing in range(0, 21, 10):
#         model = Traffic(light_11=light_timing,
#                         light_12=light_timing,
#                         light_01=light_timing,
#                         light_03=light_timing,
#                         light_41=0,
#                         light_04=light_timing,
#                         light_05=light_timing,
#                         width=750,
#                         height=750,
#                         max_steps=max_steps,
#                         start=start_step)
#         for i in range(max_steps):
#             model.step()
#         index+=1
#         print(index)
#         make_df['start_steps'].append(start_step)
#         make_df['avg_car_steps']
#         make_df['finished_car_waitb']
#         make_df['light_11'].append(light_timing)
#         make_df['light_12'].append(light_timing)
#         make_df['light_01'].append(light_timing)
#         make_df['light_03'].append(light_timing)
#         make_df['light_04'].append(light_timing)
#         make_df['light_05'].append(light_timing)
#         make_df['light_41'].append(0)

In [33]:
fixed_params = {
    'width': 750,
    'height': 750
}

In [34]:
variable_params = {
    'all_lights': (0, 10, 20),
    'start': (252000, 468000, 576000)
}

In [35]:
batch_run = BatchRunner(Traffic,
                        variable_params,
                        fixed_params,
                        iterations=1,
                        max_steps=72000, # 2 hours
                        model_reporters={'avg_car_steps': finished_car_steps, 'avg_car_wait': finished_car_wait})

In [36]:
batch_run.run_all()

9it [6:32:38, 2617.58s/it]

In [37]:
run_data = batch_run.get_model_vars_dataframe()

In [38]:
run_data

   all_lights   start  Run  avg_car_steps  avg_car_wait  width  height
0           0  252000    0     367.793228     38.209566    750     750
1           0  468000    1     536.160194     37.914653    750     750
2           0  576000    2     763.778372     38.097530    750     750
3          10  252000    3     705.149620     38.352730    750     750
4          10  468000    4     737.367664     38.178207    750     750
5          10  576000    5     841.172906     38.246839    750     750
6          20  252000    6     794.949947     38.390838    750     750
7          20  468000    7     806.907101     38.269294    750     750
8          20  576000    8     873.105978     38.308444    750     750

In [39]:
run_data.to_csv('run_data.csv')

In [24]:
pd.DataFrame.from_dict(make_df)

,start_steps,light_11,light_12,light_01,light_03,light_41,light_04,light_05
0,252000,0,0,0,0,0,0,0
1,252000,10,10,10,10,0,10,10
2,252000,20,20,20,20,0,20,20
3,468000,0,0,0,0,0,0,0
4,468000,10,10,10,10,0,10,10
5,468000,20,20,20,20,0,20,20
6,576000,0,0,0,0,0,0,0
7,576000,10,10,10,10,0,10,10
8,576000,20,20,20,20,0,20,20

In [21]:
df

,avg_car_steps,avg_car_wait,light_11,light_12,light_01,light_03,light_04,light_05,light_41
0,949.899952,38.456594,0,0,0,0,0,0,0
1,949.899952,38.456594,10,10,10,10,10,10,0
2,949.899952,38.456594,20,20,20,20,20,20,0
3,949.899952,38.456594,0,0,0,0,0,0,0
4,949.899952,38.456594,10,10,10,10,10,10,0
5,949.899952,38.456594,20,20,20,20,20,20,0
6,949.899952,38.456594,0,0,0,0,0,0,0
7,949.899952,38.456594,10,10,10,10,10,10,0
8,949.899952,38.456594,20,20,20,20,20,20,0

In [5]:
df = pd.concat(dfs).reset_index().drop(columns=['index'])

In [6]:
df.to_csv('export.csv')

In [15]:
df.iloc[72000]

avg_car_steps    448.286352
avg_car_wait      39.470807
light_11          10.000000
light_12          10.000000
light_01          10.000000
light_03          10.000000
light_04          10.000000
light_05          10.000000
light_41           0.000000
Name: 72000, dtype: float64

In [16]:
df

,avg_car_steps,avg_car_wait,light_11,light_12,light_01,light_03,light_04,light_05,light_41
0,0.000000,0.000000,0,0,0,0,0,0,0
1,0.000000,0.000000,0,0,0,0,0,0,0
2,0.000000,0.000000,0,0,0,0,0,0,0
3,0.000000,0.000000,0,0,0,0,0,0,0
4,0.000000,0.000000,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
647995,949.899952,38.456594,20,20,20,20,20,20,0
647996,949.899952,38.456594,20,20,20,20,20,20,0
647997,949.899952,38.456594,20,20,20,20,20,20,0
647998,949.899952,38.456594,20,20,20,20,20,20,0
647999,949.899952,38.456594,20,20,20,20,20,20,0